html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: #dedede;
}

h1 {
  text-align: center;
  font-family: "Ribeye Marrow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6.5rem;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 2.5rem;
}

img {
  width: 100%;
  height: auto;
}

/*
 * Main content
 */

.main-content {
  padding: 0 20px;
}

/*
 * Homework Description
 */

.homework-description {
  margin-bottom: 5rem;
}

/*
 * Images Section
 */

.images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 772px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 998px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #000 1px;
  border-radius: 5px;
  background-color: white;
  margin: 0;
  padding: 10px;
}

.image-container__image {
  aspect-ratio: 1 / 1;
}

@media (min-width: 772px) {
  .image-container__image {
    aspect-ratio: auto;
    width: 45vw;
    height: 30vh;
  }
}

@media (min-width: 998px) {
  .image-container__image {
    width: 30vw;
  }
}

.image-container__description {
  text-align: center;
}
